{% render 'partials/head.liquid', title: 'Stekjes' %}

<section>
    <img src="" alt="">
    <nav>
        <img src="" alt="">
        {% comment %} <details>
            <summary>Projecten</summary>
            <a href="">Stekjes</a>
            <a href="">Zaden</a>
            <a href="">Geveltuin</a>
            <a href="">Groenebieb</a>
        </details> {% endcomment %}
        <a href="">Stekjes</a>
        <a href="">Zaden</a>
        <a href="">Geveltuin</a>
        <a href="">Agenda</a>
        <a href="">Partners</a>
        <a href="">Contact</a>
    </nav>

    <h1>Stekjes</h1>
</section>

<main>

    {% for stekje in stekjes %}
        
        <article>
            <img src="../public/assets/test.svg" alt="">
            <h3>{{ stekje.naam }}</h3>
            <a href="stekje/{{ stekje.id }}">bekijken</a>
        </article>
        
    {% endfor %}

</main>

<a href="/stekjes/stekje">volgende pagina</a>

{% render 'partials/foot.liquid' %}